*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazonlogo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-icon{
    display: flex;
}

.add-1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-2{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}

.navsearch{
    display: flex;
    background-color: orange;
    height: 40px;
    width: 600px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.navsearch:hover{
    border: 2px solid orange;
}

.select-search{
    background-color: #F3F3F3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    color: #0F1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-up{
    font-size: 0.7rem;
}

.nav-down{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 39px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.panel-all{
    font-weight:700;
    font-size: 0.9rem;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-ops p{
    display:inline;
    margin-left: 14px;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section{
    background-image: url("mainhero.jpg");
    height: 400px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height:40px;
    font-size: 0.85rem;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
    bottom: 30px;
}

.hyp-link{
    text-decoration: none;
    color: #007185;
}

.hyp-link:hover{
    text-decoration: underline;
    color:#dd7230
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bfa7c4;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    color: black;
    padding: 20px 0px 15px 0px;
    margin-top: 5px;
}

.box-img{
    height:300px;
    margin: 1rem 0 1rem 0;
}

.box-content{
    margin: 0px 10px 0px 10px;
}

footer{
    margin-top: 20px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color:white;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #DDDDDD;
}

ul p{
    font-weight: 700;
    margin-top: 30px;
}

.foot-panel3{
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    border-top: 0.5px solid white;
}

.pan3logo{
    background-image: url("amazonlogo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-panel4{
    background-color: #131A22;
    height:80px;
    color: white;
    justify-content: center;
    align-self: center;
}

.foot-tags{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 25px;
}

.copyright{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 10px;
}